* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bodoni Moda;
}
body {
    color: white;
    background-color: black; 
    background-image: url('images/rectangle.png'); 
    background-repeat: no-repeat; 
    background-position: center top; 
    margin: 0; /* Removing margin to prevent unwanted spaces */
    background-size: 50% 2980px;
    height: 2992px;
}



nav {    
     margin-top: 6.25rem;
     display: flex;
     align-items: center;
     justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;   
    margin: 0 50px;          
    font-weight: bold;       
    transition: color 0.3s;  
    font-family: Inter, sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding-bottom: 30px;
    letter-spacing: 0.35em;
}
nav a:hover {
    color: #FFD700;         
}
.section1{
    display: flex;
    justify-content: center;
    margin-top: 12.5rem;
}

.name-backgraund {
    background-image: url('images/PORTFOLIO.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 73% auto; 
    width: 885px; 
    height: 400px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.name {
    font-family: Bodoni Moda;
    font-size: 96px;
    font-weight: 800;
    letter-spacing: 0em;    
}
.section2{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.section2-container{
    margin-top: 200px;
    height: 1000px;
    width: 100%;
    background-image: url('images/Group.png');
    background-position:  center ;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: space-between;
    
}
.Software-container h2{
    font-family: Bodoni Moda;
font-size: 64px;
font-weight: 800;
letter-spacing: 0em;
}
.developer{
    padding-left: 5rem;
}
.Software-container{
    margin-top: 4rem;
    text-align: left;
    margin-left: 15%;
}
.section3 h2{
    font-family: Bodoni Moda;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0em;
}
.Software-container p{
    margin-top: 20px;
    max-width: 420px;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}
.about-me{
    margin-top: 450px;
    text-align: left;
    margin-right: 10%;
}
.about-me h2{
    font-family: Bodoni Moda;
font-size: 64px;
font-weight: 800;
letter-spacing: 0em;
text-align: center;   
}
.about-me p{
    max-width: 420px;
    text-align: left;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}
.modern-btn {
    font-family: Inter;
    background-color: white;
    color: black;
    border: none; /* Removes the default border */
    margin-top: 30px;
    font-size: 16px; /* Adjust as needed */
    font-weight: 600; /* Semi-bold font weight */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effect */
    cursor: pointer; /* Indicates an interactive element */
    outline: none; /* Removes the default outline */
    width: 152px;
    height: 40px;
}

.modern-btn:hover {
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.12); /* Increased shadow on hover for depth perception */
}

.modern-btn:active {
    transform: translateY(0); /* Reset lift effect when pressed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Reset shadow to original when pressed */
}

.section3{
    display: flex;
  margin-top: 50px;
    flex-direction: column;
}
.section3 h2{
    text-align: center;
}
.project-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* adjust as needed */
    justify-content: center;
  }
  
  .project-card {
    position: relative;
    width: 350px;
    border: 1px solid #ccc; /* Adjust as necessary */
    border-radius: 10px; /* Optional: for rounded corners */
    overflow: hidden; /* Ensures content doesn't spill over */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: for a shadow effect */
    margin-bottom: 20px; /* Adjust as necessary */
    transition: transform 0.3s; /* Optional: for a smooth hover effect */
  }
  
  .project-card:hover {
    transform: scale(1.05); /* Optional: for a "lift" effect on hover */
  }
  
  .project-iframe {
    width: 100%;
    height: 500px; /* Adjust as necessary */
    border: none; /* Removes the default iframe border */
    overflow: hidden; /* Hides scrollbars */
  }
  
  .project-details {
    font-family: Roboto;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0; /* Make details invisible initially */
    transition: opacity 0.3s; /* Smooth transition for hover effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-card:hover .project-details {
    opacity: 1; /* Make details visible on hover */
  }
  .project-details h3{
    margin-bottom: 30px;
    font-size: 30px;
  }
  .project-details a {
    color: #1e90ff; /* Adjust color as necessary */
    margin: 10px 5px; /* Adjust as necessary */
    text-decoration: none;
    font-size: 20px;
  }
  .project-details p{
    font-size: 25px;
  }
  .project-details a:hover {
    color: #00ff7f; /* Adjust color as necessary */
  }
  
.section4{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-banner{
    margin-top: 30px;
    text-align: center;
    line-height: 24px; 
}
.links{
    margin-top: 30px;
}
.links img{
    width: 20px;
    height: 20px;
    margin: 20px 20px 20px 20px;
}
@media (max-width:1300px) {
    .about-me{
        margin-top: 450px;
        text-align: left;
        margin-right: 30px;
    }
    .about-me p{
        max-width: 320px;
        text-align: left;
        font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
    }
}
@media (max-width: 1111px){
    .project-card {
        position: relative;
        width: 300px;
        height: 300px;
        border: 1px solid #ccc; /* Adjust as necessary */
        border-radius: 10px; /* Optional: for rounded corners */
        overflow: hidden; /* Ensures content doesn't spill over */
        box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: for a shadow effect */
        margin-bottom: 20px; /* Adjust as necessary */
        transition: transform 0.3s; /* Optional: for a smooth hover effect */
      }
}
@media (max-width: 768px) {

    body {
        color: white;
        background-color: black; 
        background-image: url('images/rectangle.png'); 
        background-repeat: no-repeat; 
        background-position: center top; 
        margin: 0; /* Removing margin to prevent unwanted spaces */
        background-size: 50% 3460px;
        height: 3466px;
    }
    .name {
         font-size: 48px;
     }
     nav{
         flex-direction: column;
     }
     .section1{
        margin-top: 6rem;
     }
     .section2-container{
        margin-top: 0;
        height: 1000px;
        width: 100%;
        background-image: url('images/Group.png');
        background-position:  center 58%;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-size: 300px 500px;
     }
     .Software-container h2{
        font-family: Bodoni Moda;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;
    }
    .developer{
        padding-left: 0;
    }
    .Software-container{
        margin-top: 0;
        text-align: center;
        margin-left: 0;
    }
    .section3 h2{
        font-family: Bodoni Moda;
        font-size: 64px;
        font-weight: 800;
        letter-spacing: 0em;
    }
    .Software-container p{
        
       max-width: none;
       
        font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 8px;
    }
    .about-me{
        margin-top: 400px;
        text-align: center;
        margin-right: 0;
    }
    .about-me h2{
        font-family: Bodoni Moda;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: center;   
    }
    .about-me p{
        max-width: none;
        text-align: center;
        font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    padding-left: 100px;
    padding-right: 100px;
    }
    .section3{
        margin-top: 200px;
    }
 }
 @media (max-width:425px) {
    .section2-container{
        background-image: url('images/Group.png');
        background-position: center 51%; ;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: space-between;
        
    }
 }
 @media (max-width:375px){
    .section2-container{
        background-image: url('images/Group.png');
        background-position: center 58%; ;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: space-between;
        
    }
 }
 @media (max-width:320px) {
    .section2-container{
        background-image: url('images/Group.png');
        background-position: center 75%; ;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: space-between;
        
    }
    .name {
        font-size: 30px;
    }
    .section1{
        margin-top: 1rem;
    }
    .section3{
        margin-top: 20rem;
    }
}
